@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a protected web app that only after authentication using Identify Server can be seen!</p>
</div>
